//category page styles

#cate-hero {
  @include clearfix;
  
  height: 300px;
  letter-spacing: 0.1em;
  margin: 0 auto 20px;
  position: relative;

  > div {
    @include text-shadow(rgba(0,0,0,0.3) 0 0 4px);

    color: #fff;
    float: left;
    padding: 5px;
    position: absolute;
    width: 47%;
    top: 55px;
    left: 80px;
  }
  
  header {
    @include clearfix;
    margin-bottom: 10px;

    h1 {
      display: inline-block;
      font-size: 35px;
      line-height: 55px;
    }
  }

  .title-icon {
    background-image: image-url("cow_icon.png");
    float: left;
    height: 72px;
    margin-right: 10px;
    width: 72px;
  }
  
  .img-info {
    @include text-shadow(none);
    color: #2e1400;

    span {
      font-size: 12px;
      margin-right: 6px;
    }

    a {
      border-bottom: 1px solid #2e1400;
      color: #2e1400;
      padding-bottom: 1px;

      &:hover {
        text-decoration: none;
      }
    }
  } 
}


.span8 {
  margin-left: 0;
  width: 680px;

  h3 {
    color: $title-color;
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 0;
  }
} 

#cate-recipes,
.sidebar,
#recipe-slide {
  @include box-sizing(border-box);
  
  background-color: #fff;
  border: 1px solid $border-color;
}

#cate-recipes {
  padding: 20px 20px 10px;

  .ad {
    margin-bottom: 20px;
    text-align: center;
  }
}


//slider more recipes
#recipe-slide {
  height: 100px;
  overflow: hidden;
  padding: 10px 58px;
  position: relative;
  
  .slider,
  .arrow-left,
  .arrow-right {
    float: left;
  }

  .slider,
  .slider > ul {
    height: 80px;
  }

  .slider {
    overflow: hidden;
    > ul {
      width: 200%;
    }

    > ul li:first-child {
      margin-left: 0;
    }
  }

  .arrow-left,
  .arrow-right {
    background-color: #fff;
    position: absolute;
    text-align: center;
    width: 65px;
    z-index: 2;

    a {
      background-color: #efede8;
      display: block;
      height: 80px;
      line-height: 80px;
      margin: 0 auto;
      text-decoration: none;
      width: 25px;
    }
    
    i {
      color: #999;
      font-size: 16px;
      font-weight: bold;
    }

    &:hover i {
      color: #666;
    }
  }
  
  .arrow-left {
    left: 0;
  }

  .arrow-right {
    right: 0;
  }

  .cate-recipe-card {
    height: 80px;
    margin: 0 5px;
    width: 270px;
    
    >.actions,
    .flags,
    li.like-count {
      display: none;
    }

    > a {
      height: 80px;
      left: 0;
      width: 105px;
    }
    
    .card-info {
      height: 60px;
      margin: 10px;
      width: 50%;
    }

    .card-info a { 
      color: #5c4444;
      font-size: 13px;
    }

    .card-info p {
      display: none;
    }
  }
}


