<footer>
  <div class="container">
    <div class="row">
      <div class="span2">
        <h4>服務總覽</h4>
        <ul class="footer-links">
          <li><a href="http://icook.tw/questions?ref=icook-footer" rel="nofollow">愛料理問答</a></li>
          <li><a href="http://mobile.icook.tw/?ref=icook-footer" rel="nofollow">手機 App 下載</a>&nbsp;<span class="label label-important">NEW</span></li>
        </ul>
        <h4>愛料理部落格</h4>
        <ul class="footer-links">
          <li><a href="http://blog.icook.tw/?cat=10" rel="nofollow">生活小常識</a></li>
          <li><a href="http://blog.icook.tw/?cat=18" rel="nofollow">贈獎活動訊息</a></li>
          <li><a href="http://blog.icook.tw?ref=icook-footer" rel="nofollow">看更多文章...</a></li>
        </ul>

      </div>

      <div class="span2">
        <h4>肉類專區</h4>
        <ul class="footer-links">
          <li><a href="/categories/38?ref=icook-footer" rel="nofollow">雞肉料理</a></li>
          <li><a href="/categories/39?ref=icook-footer" rel="nofollow">牛肉料理</a></li>
          <li><a href="/categories/40?ref=icook-footer" rel="nofollow">豬肉料理</a></li>
        </ul>
        <h4>素食專區</h4>
        <ul class="footer-links">
          <li><a href="/categories/98?ref=icook-footer" rel="nofollow">奶蛋素料理</a></li>
          <li><a href="/categories/97?ref=icook-footer" rel="nofollow">全素料理</a></li>
          <li><a href="/categories/99?ref=icook-footer" rel="nofollow">五辛素料理</a></li>
        </ul>
      </div>

      <div class="span2">
        <h4>主題分類</h4>
        <ul class="footer-links">
          <li><a href="/categories/77?ref=icook-footer" rel="nofollow">深夜食堂</a></li>
          <li><a href="/categories/70?ref=icook-footer" rel="nofollow">可愛便當</a></li>
        </ul>
      </div>

      <div class="span2">
        <h4>關於愛料理</h4>
        <ul class="footer-links">
          <li>
            <a id="openLogoModal" href="#" rel="nofollow" onclick="javascript: $('#iCookLogo').modal(); _gaq.push(['_setCustomVar', 1, 'LogoModal', 'Open']); return false;">部落格貼紙</a>
          </li>


        </ul>
      </div>

      <div class="span3">
        <p>
          <%= image_tag "logo-ribbon-mm-2x.png", alt: "愛料理，分享食譜與幸福時刻", width: "105px", height: "28px" %><br />
         分享食譜與幸福時刻
         <a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="support" data-uv-primary-color="#cc6d00" data-uv-link-color="#007dbf" class="btn btn-primary" onclick="_gaq.push(['_trackEvent', 'Uservoice', 'Click', 'page: ' + document.location.pathname]);">
             建議與問題回報
         </a>
        </p>

      </div>
    </div>
  </div>
  <div class="company-info">
    <ul>
      <li>
        <a href="http://tw.polydice.com" rel="nofollow">經營團隊：Polydice, Inc. </a>
      </li>
      <li>
        <a href="http://tw.polydice.com/jobs/?ref=icook-footer" rel="nofollow">徵才訊息</a>
      </li>
      <li><a href="/legal" rel="nofollow">服務條款與隱私權政策</a></li>
      <li class="pull-right">
          © 2011-2013 Polydice, Inc. 愛料理食譜分享社群
      </li>
    </ul>
  </div>
</footer>
